body{
  font-family: Arial, Helvetica, sans-serif;
}

input, button{
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid grey;
  text-align: center;
}

div {
  border-radius: 5px;
}

p {
  margin: 5px;
}
#alerts {
  margin: 5px;
}

#message{
  margin-top: 5px;
}



.container {
  background-color: lightblue;
  padding: 5px;
  text-align: center;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#map-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#get-map{
  margin-bottom: 5px;
}

.hidden{
  display: none;
} 

#map {
  height: 500px;
  width: 500px;
  margin-top: 5px;

}

#city-output{
  border-style: solid;
  height: 200px;
  width: 300px;
}