body{
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: lightblue;
  padding: 5px;
  text-align: center;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#map-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#get-map{
  margin-bottom: 5px;
}

/* .hidden{
  display: none;
}  */

#map {
  height: 500px;
  width: 500px;
}

#city-output{
  border-style: solid;
  height: 200px;
  width: 300px;
}